@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family:'Montserrat ' ;
    src: url();
  }
}
@media (max-width: 640px) {
  .quiz-container {
    height: calc(100vh - 10rem);
  }
}